body {
    font-family: Georgia, Garamond, sans-serif;
    background-color: lightblue;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
 
    
}

.landing-container {
    /* position: relative; */
    display: block;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0 100px;
    width: 1000px;

}

.header-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.landing-header {
    font-size: 36px;
    background-color: brown;
    color: white;
    text-align: center;
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.landing-image {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.link-container {
    text-align: center;
    margin-top: 20px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 500px;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
}

#ul-meal-link {
    list-style-type: none;
    padding-top: 10px;
    /* white-space: nowrap; */
}

#ul-meal-link li {
    display: inline;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: brown;
    margin: 0;


}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}